
body{
      background: #A3CEF1 ;
      font-size: 22px;
}

table{
      position: top ;
      margin-right: auto;
      margin-left: auto;
      font-size: 18px;
      background: #E7ECEF ;
      text-align:center;    
}

#div0{ /* 右上角的  */
      color: black;
      text-align:center;
      width:15%;
      height: 90px;
      display: block;
      background-image: url(image/00.png) ;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius:20px;
      margin: left ; 
      background-size: 170%;
}
#div1{ 
      color: black;
      text-align:center;
      width:15%;
      display: block;
      background-color: #274C77;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius:20px;
      margin: left ;

      position: absolute;
      width: 200px;
      height: 80px;
      left: 250px;
      top: 40px;

}
#div2{
      color: black;
      text-align:center;
      width:15%;
      display: block;
      background-color: #274C77;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius:20px;
      margin: left ;

      position: absolute;
      width: 200px;
      height: 80px;
      left: 470px;
      top: 40px;
}

a.nav0{
            padding:10px 20px;
            text-decoration:none;
            background-color:white;
            opacity: 0.9;
            color:black;
            border-radius:20px;  
            line-height:15px;
            font-weight: bold;
            }
a.nav1{
            padding:20px 20px;
            text-decoration:none;
            background-color:white;
            opacity: 0.9;
            color:black;
            border-radius:20px;  
            line-height:80px;
            font-weight: bold;
            }


a.nav1:hover, a:active{
    background-color:   #FFFF59 ;
}


td:hover {
            background-color: #FFFF59;
        }

h2{
  color: #274C77 ;
}

#box{  /*中間那條*/
   position: center;
   background-color: #274C77;
    color: white;
    padding: 8px;
   
 }


.footer{

  color: white;
  text-align: center;
  background: #274C77;
  padding: 1px;
  height: auto;
  
}

